.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
}
.svgLastHour{
    position: relative;
    margin-left: 15%;
}
.svg{
    position: relative;
    margin-right: 15%;
    height: 100%;
}

.mini-container{
    display:flex;
    justify-content: space-between;
    max-width: 100%;
}

.time-container{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
    justify-content:center;
    max-width: 100%;
}
.container{
    display:flex;
    justify-content:center;
    height: 84%;
    max-width: 100%;
}

.variable{
    font-size: 20px;
    width: 300px;
}

.block{
    display:block;
    width: 100%;
    height: 100%;
}

.blockLastHour{
    position: relative;
    margin-right: 1%;
    height: 100%;
    background-color: #fff;
}
.blockForDay{
    position: relative;
    height: 50%;
    background-color: #fff;
}
.blockYesterday{
    position: relative;
    margin-top: 1%;
    height: 49%;
    background-color: #fff;
}

.nameDay{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.percents{
    position: relative;
    margin-top: 100px;
    margin-bottom: 125px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.percentsLastHour{
    position: relative;
    margin-top: 120px;
    margin-bottom: 125px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}


.sendLeft{
    position: relative;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blockSend{
    position: relative;
    margin-left: 35%;
}

.sendValue{
    position: relative;
    vertical-align: middle;
    text-align: right;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.point{
    font-family: 'digital-7', arial;
    font-size: 90px;
    text-align: right;
    width: 25px;
}

.time{
    position: relative;
    font-family: 'digital-7', arial;
    font-size: 90px;
    text-align: right;
    width: 80px;
}

.chart-text {
    font-size: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }

@media (min-width: 450px) {
    .percents, .percentsLastHour{
        font-size: 50px;
    }
}

@media (min-width: 500px) {
    .percents, .percentsLastHour{
        font-size: 60px;
    }
}

@media (min-width: 600px) {
    .percents, .percentsLastHour{
        font-size: 65px;
    }
}

@media (min-width: 700px) {
    .percents, .percentsLastHour{
        font-size: 70px;
    }
}

@media (min-width: 800px) {
    .percents, .percentsLastHour{
        font-size: 75px;
    }
}

@media (min-width: 900px) {
    .percents, .percentsLastHour{
        font-size: 80px;
    }
}

@media (min-width: 1000px) {
    .percents, .percentsLastHour{
        font-size: 85px;
    }
}

@media (min-width: 1100px) {
    .percents, .percentsLastHour{
        font-size: 90px;
    }
}

@media (min-width: 1200px) {

    .percents, .percentsLastHour{
        font-size: 95px;
    }
}

@media (min-width: 1350px) {
    .percents, .percentsLastHour{
        font-size: 100px;
    }
}

@media (min-width: 1500px) {
    .percents, .percentsLastHour{
        font-size: 105px;
    }
}

@media (min-width: 1600px) {
    .percents, .percentsLastHour{
        font-size: 110px;
    }   
}

@media (min-width: 1700px) {
    .percents, .percentsLastHour{
        font-size: 115px;
    }      

}

@media (min-width: 1800px) {
    .percents, .percentsLastHour{
        font-size: 120px;
    }

}

@media (min-width: 1900px) {
    .percents, .percentsLastHour{
        font-size: 125px;
    }
}

@media (min-width: 2000px) {
    .percents, .percentsLastHour{
        font-size: 130px;
    }

}

@media (min-width: 2100px) {
    .percents, .percentsLastHour{
        font-size: 135px;
    }
}

@media (min-width: 2200px) {
    .percents, .percentsLastHour{
        font-size: 140px;
    }
}

@media (min-width: 2300px) {
    .percents, .percentsLastHour{
        font-size: 145px;
    }
}

@media (min-width: 2400px) {
    .percents, .percentsLastHour{
        font-size: 150px;
    }
}

@media (min-width: 2500px) {
    .percents, .percentsLastHour{
        font-size: 155px;
    }
}

@media (min-width: 2600px) {
    .percents, .percentsLastHour{
        font-size: 160px;
    }
}

@media (min-width: 2700px) {
    .percents, .percentsLastHour{
        font-size: 165px;
    }
}

@media (min-width: 2800px) {
    .percents, .percentsLastHour{
        font-size: 170px;
    }
}

@media (min-width: 2900px) {
    .percents, .percentsLastHour{
        font-size: 175px;
    }
}

@media (min-width: 3000px) {
    .percents, .percentsLastHour{
        font-size: 180px;
    }
}