<div class="mini-container">
    <div>
        <mat-form-field appearance="fill" class = "variable">
        <mat-label>Сhoose IP</mat-label>
        <mat-select [(ngModel)]="api">
            <mat-option *ngFor="let api of Mass" [value]="api">
            {{api.name}} - {{api.path}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class ="info">
        Connection Availability
    </div>
    <div class = "time-container">
        <div class= "time">{{hours}}</div>
        <div class= "point">{{secondPoint}}</div>
        <div class= "time">{{minutes}}</div>
    </div>
</div>
<div class="container">

    <div class="block">
        <div class="blockLastHour">
            <br>
            <div class = "nameDay">
                Last Hour
            </div>
            <div class="svgLastHour">
                <svg width="75%" height="75%" viewBox="0 0 42 42" class="donut">
                    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
                    <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#CF0C0C" stroke-width="3" stroke-dasharray="100 0"></circle>
                    <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#14DE10" stroke-width="3" style.stroke-dasharray="{{percentsLastHour}},{{percentsLostLastHour}}" stroke-dashoffset="25"></circle>
                    <g class="chart-text">
                        <text x="50%" y="50%" class="chart-number">{{percentsLastHour}}%</text>
                    </g>
                </svg>
            </div>
            <div class = "blockSend">
                <div class= "sendLeft">
                    Checks:{{nAllSendLastHour}}
                </div>
                <div class= "sendLeft">
                    Losses:{{nFalseSendLastHour}}
                </div>
                <div class = "sendLeft">
                    Losses(%):{{percentsLostLastHour}}%
                </div>  
            </div>
        </div>
    </div>

    <div class="block">
        <div class="blockForDay">
            <br>
            <div class = "nameDay">
                Today
            </div>
            <div class = "container">
                <div class="svg">
                    <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
                        <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                        <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
                        <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#CF0C0C" stroke-width="3" stroke-dasharray="100 0"></circle>
                        <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#14DE10" stroke-width="3" style.stroke-dasharray="{{percentsForDay}},{{percentsLostForDay}}"stroke-dashoffset="25"></circle>
                        <g class="chart-text">
                            <text x="50%" y="50%" class="chart-number">{{percentsForDay}}%</text>
                        </g>
                    </svg>
                </div>
                <div>
                    <div class= "sendLeft" >
                        <br><br>Checks:{{nAllSendForDay}}
                    </div>
                    <div class= "sendLeft">
                        <br>Losses:{{nFalseSendForDay}}
                    </div>
                    <div class= "sendLeft">
                        <br>Losses(%):{{percentsLostForDay}}%
                    </div>
                </div>
            </div>
        </div>
    <div class="blockYesterday">
        <br>
        <div class ="nameDay">
            Yesterday
        </div>
            <div class = "container">
                <div class="svg">
                    <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
                        <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                        <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>
                        <circle *ngIf="percentsYesterday != 0" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#CF0C0C" stroke-width="3" stroke-dasharray="100 0"></circle>
                        <circle *ngIf="percentsYesterday != 0" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#14DE10" stroke-width="3" style.stroke-dasharray="{{percentsYesterday}},{{percentsLostYesterday}}"stroke-dashoffset="25"></circle>
                        
                        <g class="chart-text">
                            <text *ngIf="percentsYesterday == 0" x="50%" y="50%" class="chart-number">Н.Д.</text> 
                            <text *ngIf="percentsYesterday != 0" x="50%" y="50%" class="chart-number">{{percentsYesterday}}%</text>
                        </g>
                    </svg>
                </div>
                <div>
                    <div class= "sendLeft">
                        <br><br>Checks:{{nAllSendYesterday}}
                    </div>
                    <div class= "sendLeft">
                        <br>Losses:{{nFalseSendYesterday}}
                    </div>
                    <div class = "sendLeft">
                        <br>Losses(%):{{percentsLostYesterday}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>